<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<% if (htmlWebpackPlugin.options.description) { %>
			<meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
		<% } %>
		<link rel="apple-touch-icon" href="assets/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
		<link rel="manifest" href="assets/manifest.json">
		<meta name="theme-color" content="#2d9cdb">
		<title>Fall Project - Modern Freelance</title>
	</head>
	<body>
		<div class="app"></div>
	</body>
</html>