<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<% if (htmlWebpackPlugin.options.description) { %>
			<meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
		<% } %>
		<link rel="apple-touch-icon" href="assets/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="assets/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
		<link rel="manifest" href="assets/manifest.json">
		<meta name="theme-color" content="#F2994A">
		
		<!-- SEO and Social -->
		<meta charset="utf-8">
		<title>Fall Project</title>
		<meta name="description" content="We are Modern Freelance. We offer Web & Mobile Design, PWA Development, and Branding">
		<meta itemprop="name" content="Fall Project">
		<meta itemprop="description" content="We are Modern Freelance. We offer Web & Mobile Design, PWA Development, and Branding">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Fall Project">
		<meta name="twitter:description" content="We are Modern Freelance. We offer Web & Mobile Design, PWA Development, and Branding">
		<meta name="og:title" content="Fall Project">
		<meta name="og:description" content="We are Modern Freelance. We offer Web & Mobile Design, PWA Development, and Branding">
		<meta name="og:site_name" content="FallProject">
		<meta name="og:type" content="website">
		
		<title>Fall Project - Modern Freelance</title>
	</head>
	<body>
		<div class="app"></div>
	</body>
</html>
