<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<% if (htmlWebpackPlugin.options.description) { %>
			<meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
		<% } %>
		<link rel="apple-touch-icon" href="assets/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="assets/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
		<link rel="manifest" href="assets/manifest.json">
		<meta name="theme-color" content="#F2994A">
		<title>Fall Project</title>
		
		<!-- SEO and Social -->
		<meta name="description" content="We offer Web & Mobile Design, PWA Devlopment. and Branding Services. We Are Modern Frelance.">
		<meta name="image" content="https://fallproject.org/assets/96x96.png">
		<meta itemprop="name" content="Fall Project">
		<meta itemprop="description" content="We offer Web & Mobile Design, PWA Devlopment. and Branding Services. We Are Modern Frelance.">
		<meta itemprop="image" content="https://fallproject.org/assets/96x96.png">
		<meta name="og:title" content="Fall Project">
		<meta name="og:description" content="We offer Web & Mobile Design, PWA Devlopment. and Branding Services. We Are Modern Frelance.">
		<meta name="og:image" content="https://fallproject.org/assets/assets/96x96.png">
		<meta name="og:url" content="https://fallproject.org">
		<meta name="og:site_name" content="Fall Project">
		<meta name="og:type" content="website">
	</head>
	<body>
		<div class="app"></div>
	</body>
</html>
